.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.goal{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #257dbe;
    border-radius: 50px;
    padding: 5px;


}

.subgoal.textSub{

    margin: 2px; !Important
    padding: 2px; !Important
    border: black solid 1px;


}



.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.allGoals{
    display: flex;
    flex-direction: column;
    gap: 10px;
}