

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goal1{
    border: 3px solid #333333;
}

.save-sub-goals{
    flex-direction: row;
    justify-content: end;
}